<div class="jumbotron">
  <h1>Principal</h1>

  <div class="container mainMenu">
    <div class="iconcontainer">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="iconbox">
            <div class="iconbox-icon">
              <span class="glyphicon glyphicon-stats"></span>
            </div>
            <div class="featureinfo">
              <h4 class="text-center">Condomínios</h4>
              <a class="btn btn-default btn-sm" ui-sref="condominium" role="button">Cadastrar »</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="iconbox">
            <div class="iconbox-icon">
              <span class="glyphicon glyphicon-tasks"></span>
            </div>
            <div class="featureinfo">
              <h4 class="text-center">Blocos</h4>
                <a class="btn btn-default btn-sm" disabled="disabled" ui-sref="main" role="button">Cadastrar »</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="iconbox">
            <div class="iconbox-icon">
              <span class="glyphicon glyphicon-home"></span>
            </div>
            <div class="featureinfo">
              <h4 class="text-center">Unidades</h4>
              <a class="btn btn-default btn-sm" ui-sref="units" role="button">Cadastrar »</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="iconbox">
            <div class="iconbox-icon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="featureinfo">
              <h4 class="text-center">Gerentes</h4>
              <a class="btn btn-default btn-sm" ui-sref="managers" role="button">Cadastrar »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

